*{
    margin: 0;
    padding: 0;
}


.nav1 {
    display: flex;
    justify-content: space-around; /* Align items to the left */
    align-items: center;         /* Vertically center items */
    background-color: rgb(228, 221, 221);
    position: sticky;
    
    box-shadow: 5px 5px 5px rgb(169, 181, 185);
    text-align: center;
}
.navbar{
    display: flex;
    align-items: center;
 justify-content: space-between;
background-color: #262626;
width: 100%;
height: 60px;
overflow: auto;
}

.pfont {
  color: azure;
  text-align: center;
  float: center;
   flex: 1;
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: -500;
    line-height: 32px;
 
}
.b1{
    background-color: #82b440;
    border-radius: 3px;
    align-items: center;
    display: flex;
    text-align: center;
    width: 190px;
    height: 35px;
    justify-content: center;
    border: none;
    padding: 5px;
}
.logo{
    float: left;
 width: 10%;
 height: 5%;
}
.logo1{
    float: left;
 width: 10%;
 height: 50%;
 padding: 5px;
}

/* ...existing code...  */
 li a {
    display: block;
    color: #a3a3a3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #262626;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 4px;
  }
  
  li {
    float: center;
      
  }
  
  li a {
    display: block;
    color: #a3a3a3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 14px 16px;
     
  }
  .li1 a{
    text-align: center;
    color: #262626;
    float: center;
    text-decoration: overline; text-decoration: underline;
     
  }
  .but1{
  width: 160px;
  height: 55px;
  border-radius: 50px;
  background-color: black;
  color: white;
  border: none;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: -500;
    line-height: 32px;
}
body{
    font-family: 'Poppins', sans-serif;
}

   .but2{
  width: 160px;
  height: 55px;
  border-radius: 50px;
  background-color: #0087fe;
  color: white;
  border: none;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: -500;
    line-height: 32px;
}
  .but3{
  width: 160px;
  height: 55px;
  border-radius: 50px;
  background-color: #0087fe;
  color: white;
  border: none;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: -500;
    line-height: 32px;
}
.sec1{
    display: flex;
    height: 92vh;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    background-color: red;
  }
.silksong{
  display: flex;
  align-items: center;
flex-direction: row;
flex: 1;
padding: 40px;
margin: 20px;
}





.dim{
  display: flex;
  align-items: center;
flex: 1;
  height: 100%;
  width: 51%;
  background-color: white;
   flex-direction: column;
}
.sir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* or center if you want center alignment */
    width: 50%;
    padding: 40px;
    background-color: white;
}

.dep {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: white;
}

h1{
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  font-family: 'Poppins', sans-serif;
  margin: 12px;
  margin-bottom: 12px;
}

h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  font-family: 'Poppins', sans-serif;
  margin: 12px;
  margin-bottom: 12px;
  padding-top: 52px;
}
.sec2{
  display: flex;
    height: 92vh;
    background-color: rgb(231, 21, 21);
    margin-bottom: 12px;
}


.part1{
height: 92vh;
width: 25%;
background-color: rgb(26, 175, 118);
display: flex;
text-align: center;
flex-direction: column;
align-items: center;
justify-content: center;
}

.part3{
height: 92vh;
width: 25%;
background-color: rgb(26, 175, 118);
display: flex;
text-align: center;
flex-direction: column;
align-items: center;
justify-content: center;
}
.box {
  width: 80%;
  height: 80px;
  background: #fff;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 12px;
  padding: 22px;
  flex: 1;
}
.part2{
height: 92vh;
width: 50%;
background-color: rgb(26, 120, 175);
justify-content: center;
align-items: center;
display: flex;
}
.part3{
height: 92vh;
width: 25%;
background-color: rgb(26, 66, 175);
}
.img1{
  width: 100%;
  height: 100%;
  border-radius: 1px;
  box-shadow: 5px 5px 5px rgb(169, 181, 185);
}
.p.diddy{
 display: flex;
    height: 92vh;
    background-color: rgb(231, 21, 21);
}
.sec3 {
  margin-top: 160px;
 width: 100%;
 display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 400px;            /* Set a height so vertical centering works */
  background: #ec0606;      /* Optional: background color for visibility */
}
.sec6 {
  margin-top: 160px;
 width: 100%;
 display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 400px;            /* Set a height so vertical centering works */
  background: #ec0606;     /* Optional: background color for visibility */
   height: 62vh;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
}

.par21 {
  width: 70%;
  height: 110%;
  background: #0087fe;
  display: block;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  margin: 20px;
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcEbXWJLQOEg7C78QJLfkm3FHoytw_PGJjcw&s");
   background-size: cover;
  background-repeat: no-repeat; /* <-- Correct property */
  background-position:center ;
}

.par23 {
  width: 70%;
  height: 80%;
  background: #0087fe;
  display: block;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  margin: 20px;
  text-align: center;
  background-image: url("");
   background-size: cover;
  background-repeat: no-repeat; /* <-- Correct property */
  background-position:center ;
}
.h67{
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  font-family: 'Poppins', sans-serif;
  margin: 12px;
  margin-bottom: 47px;
}
.yn{
background-color: white;
  border-radius: 5%;
  background-size: auto;
  vertical-align: middle;
  background: 150% 150%;
}
.sec4{
 display: block;
  flex-direction: row; /* keep section vertical (title above cards) */
  background-color: white;
  margin-bottom: 12px;
  padding: 24px;
  align-items: center;
  padding: 24px;
}
  .watchdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: normal;
    gap: 67px;
  }
  .img675{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(169, 181, 185);
    flex: auto;

  }
    .gooner{
      color:  #0087fe;
    font-size: 36px;
    font-weight: 700;
    text-align:center;
  flex: 1;
  }
  .gooner1{
    font-size: 36px;
    font-weight: 700;
    text-align:center;
  
  
  }
  .img54{
    width: 40px;
    height: 30px;
    margin-right: 8px;
    background-size: 34px 34px;
  }
  .sec5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(20, 18, 175);
} 
  


.day{
height: 62vh;
width: 16.666667%;
background-color: rgb(26, 120, 175);
justify-content: center;
align-items: center;
display: flex;
}
.sat{
height: 62vh;
width: 16.666667%;
background-color: rgb(26, 66, 175);
}
.mon{

height: 62vh;
width: 50%;
background-color: rgb(26, 175, 118);
display: flex;
text-align: left;
flex-direction: column;
align-items: left;
justify-content: left;
}
.sat2{
height: 62vh;
width: 16.666667%;
background-color: rgb(53, 102, 236);
}
p{
  
}